@import url('https://fonts.googleapis.com/css?family=Oswald:500');

.logo{
    width: 20%;
    margin-left: 40%;
   margin-right: 40%;
   margin-bottom: 2%;
   margin-top: 3%;
    
}
h4 {
    color: #111;
    position: absolute;
    top: 590px;
    left: 30%;
    letter-spacing: 2px;
  }
  


  h1 {
    color: #111;
    position: fixed;
    top: 0%;
    left: 30%;
    letter-spacing: 2px;
  }
  
  p {
    font-size: 14px;
    color: #fff;
    padding: 0px 20px 20px 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
  }
  

  body {
    font-family: 'Raleway', sans-serif;
  }
  

          /* *********************************** BUTTON FOR NAV Start HERE  ************************************/

         
          
          /* NAVIGATION */
          nav {
            width: 100%;
            margin: 0 auto;
            background: #fff;
            padding: 50px 0;
           
          }
          nav ul {
            list-style: none;
            text-align: center;
          }
          nav ul li {
            display: inline-block;
          }
          nav ul li a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: 800;
            font-size: 20px;
            
            text-transform: uppercase;
            margin: 0 10px;
          }
          nav ul li a,
          nav ul li a:after,
          nav ul li a:before {
            transition: all .5s;
          }
          
          
        
          /* SHIFT */
          nav.shift ul li a {
            position:relative;
            z-index: 1;
          }
          nav.shift ul li a:hover {
            color: #ffffff;
          }
          nav.shift ul li a:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: '.';
            color: transparent;
            background: #8e3be6;
            visibility: none;
            opacity: 0;
            z-index: -1;
          }
          nav.shift ul li a:hover:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
          }
          
          
          
          
          
@import url(https://fonts.googleapis.com/css?family=Montserrat);

 /* VISONARIES  */

 .box {
  display: flex;
/*   border:1px solid red; */
  height: 50%;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 6%;
}

svg {
  display: block;
  font: 12em 'Montserrat';
  
  margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/* END  */


  


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-black-blue: hsl(234, 17%, 12%);
}

body {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url('./images/bg-stars.svg');
    background-color: var(--very-dark-black-blue);

}

h2 {
    position: absolute;
    top: 15%;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    letter-spacing: 6px;
    margin: 0 16px;
}

.countdown {
    display: flex;
    gap: 10px;
    text-align: center;
}

.flip-card {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 13px 0 0 black;
    position: relative;
}

.top-flip,
.bottom-flip {
    position: absolute;
}

.top-flip {
    transform-origin: bottom;
    transform: rotateX(0deg);
    animation: flip-top 0.5s ease-in forwards;
}

.bottom-flip {
    bottom: 0;
    animation: flip-bottom 0.5s ease-out 0.5s;
    transform-origin: top;
    transform: rotateX(90deg);
}

.top,
.bottom,
.top-flip,
.bottom-flip {
    height: 33px;
    width: 80px;
    padding: 21px 16px;
    color: var(--soft-red);
    overflow: hidden;
    text-align: center;
}

.top,
.top-flip {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.7);
    background-color: rgb(48, 50, 78);
}

.bottom,
.bottom-flip {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--dark-desaturated-blue);
    box-shadow: 0 2px rgb(71, 83, 115, 0.2) inset;
}

p {
    font-weight: 700;
    letter-spacing: 1.5px;
    color: var(--grayish-blue);
    margin-top: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer>img {
    width: 250%;
}

.media {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.media>span {
    margin-right: 10px;
    cursor: pointer;
    height: min-content;
}

.media > span:hover,
.media > span:active {
    filter: invert(60%) sepia(43%) saturate(6017%) hue-rotate(315deg) brightness(109%) contrast(97%);
}

.attribution {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    font-size: 0.8rem;
    width: 95%;
    text-align: center;
    font-size: 11px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.title {
    margin-top: 1.2rem;
    font-size: 0.8rem;
}

@keyframes flip-top {
    to {
        transform: rotateX(90deg);
    }
}

@keyframes flip-bottom {
    to {
        transform: rotateX(0deg);
    }
}

@media (min-width: 376px) {
    .flip-card {
        font-size: 5rem;
    }

    .countdown {
        gap: 35px;
    }

    .top,
    .bottom,
    .top-flip,
    .bottom-flip {
        height: 80px;
        width: 150px;
        padding: 27px 16px;
    }

    .footer > img {
        width: 100%;
    }

    .media>span {
        margin-right: 25px;
    }

    .attribution {
        font-size: 1rem;
        bottom: 1vw;
    }
}